.VirtualSelectGrid {
  z-index: 1;
}

.VirtualizedSelectOption {
  display: inline-block;
  padding: 0 .5rem;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  width: 90px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.VirtualizedSelectFocusedOption {
  background-color: rgba(0, 126, 255, 0.1);
}
.VirtualizedSelectDisabledOption {
  opacity: 0.5;
}
.VirtualizedSelectSelectedOption {
  font-weight: bold;
}
